.vs
# Visual Studio build artifacts
*.obj
*.pdb
*.ilk
*.idb
*.log
*.tlog/
DonkeyKong/x64/
DonkeyKong/obj/
DonkeyKong/DonkeyKong/
DonkeyKong/DonkeyKong.vcxproj.user

# Visual Studio solution and project files (we use premake now) 
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# premake will build into this dir
/bin